.dish_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    line-height: 1.3;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgb(255, 225, 183);
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.dish_card:hover {
    background-color: rgba(255, 255, 255, 0.297);
    box-shadow: 0 2px 10px rgba(105, 49, 0, 0.451);
    transform: translateY(-4px);
}
.div_div_div_div_DDD {
    height: 100%;
}
.dish_title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #533200;
    margin-bottom: 15px;
    margin-top: 15px;
}
.dish_ingr {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 3px;
    color:#524c43;
    margin-bottom: 20px;
}
.dish_price {
    text-align: center;
    color: #ff5100;
    font-weight: 700;

    opacity: 0;
    transform: translateY(10px);
    max-height: 0;
    overflow: hidden;

    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        max-height 0.3s ease;
}
.dish_card:hover .dish_price {
    opacity: 1;
    transform: translateY(0);
    max-height: 50px;
}
.dish_price span {
    color: #b17300;
}
