.menu_body {
    display: flex;
    flex-direction: column;
}
.list_text {
    color: #fff;
}
.list_text:not(:last-child) {
    margin-bottom: 15px;
}
.h2_menu {
    font-size: 36px;
    font-weight: 700;
    color: #89c300;
    font-style: italic;
    margin: 30px 0px 30px 0px;
}