.grid_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 80%));
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.category_section {
  background-color: rgb(255, 221, 174);
  border-radius: 5px;
  padding: 10px;
}
.category_title {
  position: relative;
  font-family: "Italianno", cursive;
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 40px;
}
.deco {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  width: 170px;
  pointer-events: none;
}