.header {
    height: 70px;
    background-color: rgb(0, 113, 113);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo {
    font-size: 36px;
}
.title {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #fff;
}