.header {
    height: 150px;
    background-color: rgb(255, 250, 191);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}
.logo {
    font-size: 36px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #850000;
}